@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Public Sans", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1632px;
  margin: auto;
}

.icon-hover {
  position: relative;
}
.icon-hover:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1700px) {
  .wrapper {
    padding: 0 8px;
  }
}
